/**
 * Log Writer CSS
 */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#333;
	text-align:center;
}
h1, h2, h3, h4, h5, h6, #footer {
	font-family: Georgia, 'Times New Roman', serif;
}
h1{
	margin-bottom:20px;
	font-size:20px;
}

a {
	color:#39C;
}
a:hover {
	color:#000;
}

#header {
	background-color:#000;
	padding: 10px 0px;
	margin-bottom: 20px;
	color:#FFF;
}
#header h1 {
	margin-bottom: 0;
}

.box {
	margin:0 auto;
	width:900px;
	text-align:left;
}

#two-col table{
	width:100%;
	border:0;
	padding:0;
}

#two-col #content {
	width:80%;
	padding-right: 20px;
	border-right:1px solid #DDD;
}

#two-col #right {
	padding-left: 20px;
	width:20%;
}

#footer .left {
	padding-right: 20px;
	text-align:right;
}
#footer .right {
	padding-left: 20px;
}
#footer td {
	padding: 20px 0px;
	text-transform:uppercase;
	font-size:11px;
}

/* Log styles */
.log{
	border-top:1px solid #DDD;
}
.entry {
	padding:6px;
	border-bottom: 1px solid #DDD;
}
div.entry:hover {
	background-color:#EEE;
}
div.entry.call-out {
	background-color:#eaf1ff;
}

/* Directory tree */
.directory {
	background-color: #EEE;
	padding:10px 10px 10px 10px;
	width:100%;
}
.directory .year {
	margin-bottom:20px;
}
.directory .year:last-child{
	margin-bottom:0px;
}
.directory h2 {
	background-color:#36C;
	padding: 3px 6px 6px 6px;
	font-size: 18px;
	color:#FFF;
	margin-bottom:5px;
	cursor:pointer;
}
.directory .month {
	margin-bottom:2px;
}
.directory .month h3 {
	background-color:#000;
	font-size: 14px;
	padding: 5px 6px;
	color:#FFF;
	cursor:pointer;
	font-weight:normal;
}
.directory .month ul {
	list-style:none;
	margin:0;
}
.directory .month ul li {
	margin-bottom:0;
	border-bottom: 1px dashed #999;
}
.directory .month ul li a {
	padding: 6px;
	display:block;
	text-decoration: none;
	color: #36C;
}
.directory .month ul li a:hover {
	background-color:#DDD;
}
.directory .month ul li.active a {
	background-color:#eaf1ff;
	color:#333;
	font-weight: bold;
}